<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

  <style>
    .ant-list-item-content {
      justify-content: end !important;
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
